@import "tailwindcss";

#root {
  margin: 0 auto;
}

body {
  background-color: #0d0d0d;
}

.flexboxContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px;
  /* background-color: #202020; */
}